@font-face {
    font-family: angrybirds-regular;
    src: url(/fuentes/angrybirds-regular.ttf);
}

@font-face {
    font-family: Bangers-Regular;
    src: url(/fuentes/Bangers-Regular.ttf);
}
/*      E71D36 
        box-shadow: 0px 0px 14px 7px rgba(0,0,0,0.30);
        text-shadow: 1px 1px 3px black;
        FFFF00
*/
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

ul { 
    padding-inline-start: 0%;
}

* { 
    margin: 0%;
}

@media (max-width: 320px) {
    
    body {
        height: 200vh;
    }

    header {
        height: 15vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: #E71D36;
        position: fixed;
    }

    .icono {
        height: 100%;
    }

    .titulo {
        font-size: 0%;
    }

    .navegador {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 5px 0px;
        list-style: none;
    }

    a {
        color: white;
        cursor: none;
        text-decoration: none;
    }

    .navegador li {
        font-family: angrybirds-regular;
        border: 2px solid white;
        border-radius: 5px;
        padding: 2px 4px;
    }

    .navegador li:hover {
        box-shadow: 0px 0px 14px 7px rgba(0,0,0,0.30)
    }

    /* PRIMERA SECCION */

    .portada {
        height: 50%;
        background-image: url(./imagenes/fondo.png);
        background-position: 50% 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
    }

    .contenedor1 {
        margin-top: 15vh;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        font-family: angrybirds-regular;
    }
    .secundario {
        margin-top: 80px;
        font-size: 1.5em;
        text-align: center;
    }
    .slogan { 
        text-align: center;
        margin: 20px 0px;
    }
    .accion {
        display: flex;
        list-style: none;
        font-size: 0.8em;
        gap: 20px;
    }
    .accion li {
        padding: 2px 4px;
        border: 2px solid white;
        border-radius: 7px;
        background-color: #E71D36;
    }

    .familia {
        display: flex;
        justify-content: center;
    }

    .familia img {
        width: 60%;
    }

    /* SEGUNDA SECCION */

    .nosotros {
        height: 50%;
        background-color: #FFFF00;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        
    }

    .presentacion { 
        background-color: white;
        border: 3px solid black;
        border-radius: 15px;
        width: 90%;
        font-family: Bangers-Regular;
        padding: 5px;
    }
    .tercero    {
        text-align: center;
    }
    .texto {
        text-align: justify;
        line-height: 1.4;
    }


    .imagen2 {
        display: flex;
        justify-content: center;
        height: 15%;
    }

}
@media (min-width: 321px) and (max-width: 425px) {

    body {
        height: 200vh;
    }

    header {
        height: 18vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: #E71D36;
        position: fixed;
    }

    header {
        height: 15vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: #E71D36;
        position: fixed;
    }

    .icono {
        height: 100%;
    }

    .titulo {
        font-size: 0%;
    }

    .navegador {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 5px 0px;
        list-style: none;
    }

    a {
        color: white;
        cursor: none;
        text-decoration: none;
    }

    .navegador li {
        font-family: angrybirds-regular;
        border: 2px solid white;
        border-radius: 5px;
        padding: 2px 4px;
    }

    .navegador li:hover {
        box-shadow: 0px 0px 14px 7px rgba(0,0,0,0.30)
    }

    /* PRIMERA SECCION */

    .portada {
        
        height: 50%;
        background-image: url(./imagenes/fondo.png);
        background-position: 50% 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
    }

    .contenedor1 {
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: angrybirds-regular;
    }
    .secundario {
        font-size: 2.5em;
        text-align: center;
    }
    .slogan {
        font-size: 1.5em;
        text-align: center;
        margin: 20px 0px;
    }
    .accion {
        display: flex;
        list-style: none;
        font-size: 1.1em;
        gap: 25px;
    }
    .accion li {
        padding: 2px 4px;
        border: 2px solid white;
        border-radius: 7px;
        background-color: #E71D36;
    }

    .familia {
        display: flex;
        justify-content: center;
        height: 30%;
    }

    /* SEGUNDA SECCION */

    .nosotros {
        height: 50%;
        background-color: #FFFF00;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
        
    }

    .presentacion { 
        background-color: white;
        border: 3px solid black;
        border-radius: 15px;
        width: 80%;
        font-family: Bangers-Regular;
        padding: 5px;
    }
    .tercero    {
        text-align: center;
    }
    .texto {
        text-align: justify;
        font-size: 1.3em;
        line-height: 1.4;
    }

    .imagen2 {
        display: flex;
        justify-content: center;
        height: 30%;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    body {
        height: 200vh;
    }

    header {
        height: 15vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: #E71D36;
        position: fixed;
    }

    .icono {
        height: 100%;
    }

    .titulo {
        font-size: 0%;
    }

    .navegador {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        gap: 15px;
    }

    a {
        color: white;
        cursor: none;
        text-decoration: none;
    }

    .navegador li {
        font-size: 1.1em;
        font-family: angrybirds-regular;
        border: 3px solid white;
        border-radius: 10px;
        padding: 4px 8px;
    }

    .navegador li:hover {
        box-shadow: 0px 0px 10px 7px rgba(0,0,0,0.30)
    }

    /* PRIMERA SECCION */

    .portada {
        height: 50%;
        background-image: url(./imagenes/fondo.png);
        background-position: 50% 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .contenedor1 {
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: angrybirds-regular;
    }
    .secundario {
        font-size: 4em;
        text-align: center;
        text-shadow: 2px 2px 5px white  ;
    }
    .slogan {
        font-size: 2.2em;
        text-align: center;
        margin: 20px 0px;
        text-shadow: 2px 2px 5px white  ;
    }
    .accion {
        display: flex;
        list-style: none;
        font-size: 1.5em;
        gap: 25px;
    }
    .accion li {
        padding: 2px 4px;
        border: 2px solid white;
        border-radius: 7px;
        background-color: #E71D36;
    }

    .familia {
        display: flex;
        justify-content: center;
        height: 40%;
    }

    

    /* SEGUNDA SECCION */

    .nosotros {
        height: 50%;
        background-color: #FFFF00;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
        
    }

    .presentacion { 
        background-color: white;
        border: 4px solid black;
        border-radius: 15px;
        width: 70%;
        font-family: Bangers-Regular;
        padding: 7px;
    }
    .tercero    {
        text-align: center;
        font-size: 1.8em;
        margin-bottom: 12px;
    }
    .texto {
        text-align: justify;
        font-size: 1.7em;
    }

    .imagen2 {
        display: flex;
        justify-content: center;
        height: 30%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    body {
        height: 200vh;
    }

    header {
        height: 15vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: #E71D36;
        position: fixed;
    }

    .icono {
        height: 100%;
    }

    .titulo {
        margin-top: 22px;
        font-size: 3em;
        font-family: angrybirds-regular;
        -webkit-text-stroke: 1px black;
        color: white;
    }

    .navegador {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        gap: 15px;
    }

    a {
        color: white;
        cursor: none;
        text-decoration: none;
    }

    .navegador li {
        font-size: 1.3em;
        font-family: angrybirds-regular;
        border: 3px solid white;
        border-radius: 10px;
        padding: 4px 8px;
    }

    .navegador li:hover {
        box-shadow: 0px 0px 10px 7px rgba(0,0,0,0.30)
    }

    /* PRIMERA SECCION */

    .portada {
        height: 50%;
        background-image: url(./imagenes/fondo.png);
        background-position: 50% 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .contenedor1 {
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: angrybirds-regular;
    }
    .secundario {
        font-size: 6em;
        text-align: center;
        text-shadow: 2px 2px 5px white  ;
    }
    .slogan {
        font-size: 3em;
        text-align: center;
        margin: 20px 0px;
        text-shadow: 2px 2px 5px white  ;
    }
    .accion {
        display: flex;
        list-style: none;
        font-size: 1.7em;
        gap: 25px;
    }
    .accion li {
        padding: 2px 4px;
        border: 2px solid white;
        border-radius: 7px;
        background-color: #E71D36;
        -webkit-text-stroke: 1px black;
    }

    .familia {
        display: flex;
        justify-content: center;
        height: 40%;
    }

    

    /* SEGUNDA SECCION */

    .nosotros {
        height: 50%;
        background-color: #FFFF00;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
        
    }

    .presentacion { 
        background-color: white;
        border: 4px solid black;
        border-radius: 15px;
        height: 40%;
        font-family: Bangers-Regular;
        padding: 7px;
        margin: 0px 15px;
    }
    .tercero    {
        text-align: center;
        font-size: 2.6em;
        margin-bottom: 10px;
    }
    .texto {
        text-align: justify;
        font-size: 2em;
    }

    .imagen2 {
        display: flex;
        justify-content: center;
        height: 40%;
    }
}

@media (min-width: 1024px) {

    body {
        height: 200vh;
    }
    header {
        height: 15vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: #E71D36;
        position: fixed;
    }
    .icono {
        height: 100%;
    }
    .titulo {
        margin-top: 15px;
        font-size: 4em;
        font-family: angrybirds-regular;
        -webkit-text-stroke: 1px black;
        color: white;
    }
    .navegador {
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        gap: 17px;
    }
    .navegador li a {
        color: white;
        cursor: none;
        text-decoration: none;
        -webkit-text-stroke: 1px black;
    }
    .navegador li {
        font-size: 1.5em;
        font-family: angrybirds-regular;
        border: 4px solid white;
        border-radius: 15px;
        padding: 5px 10px;
    }
    .navegador li:hover {
        box-shadow: 0px 0px 10px 7px rgba(0,0,0,0.30);
        
    }

    /* PRIMERA SECCION */

    .portada {
        height: 50%;
        background-image: url(./imagenes/fondo.png);
        background-position: 50% 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .contenedor1 {
        margin-top: 15vh;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: angrybirds-regular;
    }
    .secundario {
        font-size: 5em;
        text-align: center;
        text-shadow: 5px 5px 1px white  ;
    }
    .slogan {
        font-size: 3.4em;
        text-align: center;
        margin: 20px 0px;
        text-shadow: 4px 4px 5px white  ;
    }
    a {
        color: white;
        cursor: none;
        text-decoration: none;
    }
    .accion {
        display: flex;
        list-style: none;
        font-size: 1.8em;
        gap: 25px;
    }
    .accion li {
        padding: 5px 10px;
        border: 3px solid white;
        border-radius: 15px;
        background-color: #E71D36;
    }
    .accion li a {
        -webkit-text-stroke: 1px black;
    }
    .familia {
        display: flex;
        height: 50%;
    }

    /* SEGUNDA SECCION */

    .nosotros {
        height: 50%;
        background-color: #FFFF00;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
    }

    .presentacion { 
        background-color: white;
        border: 4px solid black;
        border-radius: 15px;
        width: 40%;
        font-family: Bangers-Regular;
        padding: 7px;
        margin: 0px 15px;
    }
    .tercero    {
        text-align: center;
        font-size: 3em;
        margin-bottom: 15px;
    }
    .texto {
        text-align: justify;
        font-size: 2em;
    }

    .imagen2 {
        display: flex;
        justify-content: center;
        height: 60%;
    }
}