@font-face {
    font-family: angrybirds-regular;
    src: url(/fuentes/angrybirds-regular.ttf);
}

@font-face {
    font-family: Bangers-Regular;
    src: url(/fuentes/Bangers-Regular.ttf);
}

@media (max-width: 899px ) {

    html, body {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }

    body {
        height: 250vh;
        display: flex;
        flex-direction: column;
        margin: 0%;
    }

    /* header */

    header { 
        background-color: #E71D36;
        width: 100%;
        height: 15vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
    }

    .icono {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 15%;
    }

    .titulo {
        color: white;
        margin: 0%;
        font-family: angrybirds-regular;
        -webkit-text-stroke: 1px black;
    }

    /* Navbar */
    
    .navegador {
        margin: 0%;
        color: white;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        font-family: angrybirds-regular;
    }

    .navegador li, .accion li {
        padding: 2px 10px;
        border: 2px solid white;
        border-radius: 10px;
        background-color: #E71D36;
    }

    a {
        text-decoration: none;
        color: white;
        cursor: none;
    }

    .navegador li:hover {
        box-shadow: 0px 0px 14px 7px rgba(0,0,0,0.30);
        text-shadow: 1px 1px 3px black;
    }

    .titulo {
        text-shadow: 1px 1px 10px black;
    }

    /* primera seccion */

    .portada {
        margin-top: 15vh;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(./imagenes/fondo.png);
        background-position: 50% 0%;
    }

    .contenedor1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: angrybirds-regular;
    }

    .secundario {
        margin: 0%;
        font-size: 5em;
        text-align: center;
    }

    .slogan {
        font-size: 2em;
        text-align: center;
    }

    .accion {
        display: flex;
        list-style: none;
        padding: 0%;
        margin: 10px 0px;
        gap: 15px;
        font-size: 1.2em;
    }

    .familia {
        height: 50%;
    }

    /* segunda seccion */


    .nosotros { 
        height: 50%;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 30px;
        background-color: #FFFF00;
    }

    .presentacion {
        display: flex;
        flex-direction: column;
        font-family: Bangers-Regular;
        width: 60%;
        background-color: white;
        border: 3px solid black;
        border-radius: 15px;
        margin-left: 10px;
        padding: 10px;
        text-align: justify;
    }

    .tercero { 
        text-align: center;
        margin: 0%;
        font-size: 2em;
    }
    .presentacion p {
        font-size: 1.5em;
    }

    .imagen2 {
        display: flex;
        justify-content: center;
    }

    .img2 {
        width: 50%;
    }

}

@media (min-width: 900px) and (max-width: 1200px ) {

    body {
        height: 250vh;
        display: flex;
        flex-direction: column;
        margin: 0%;
    }

    /* header */

    header { 
        background-color: #E71D36;
        width: 100%;
        height: 15vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
    }

    .icono {
        display: flex;
        justify-content: center;
        height: 100%;
    }

    .titulo {
        color: white;
        margin: 0%;
        text-align: center;
        font-size: 3em;
        font-family: angrybirds-regular;
        -webkit-text-stroke: 1px black;
    }

    /* Navbar */
    
    .navegador {
        margin: 0%;
        color: white;
        list-style: none;
        display: flex;
        
        align-items: center;
        gap: 10px;
        font-family: angrybirds-regular;
    }

    .navegador li, .accion li {
        padding: 7px 15px;
        border: 2px solid white;
        border-radius: 10px;
        background-color: #E71D36;
    }

    a {
        text-decoration: none;
        color: white;
        cursor: none;
    }

    .navegador li:hover {
        box-shadow: 0px 0px 14px 7px rgba(0,0,0,0.30);
        text-shadow: 1px 1px 3px black;
    }

    .titulo {
        text-shadow: 1px 1px 10px black;
    }

    /* primera seccion */

    .portada {
        margin-top: 15vh;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(./imagenes/fondo.png);
        background-position: 50% 0%;
    }

    .contenedor1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        font-family: angrybirds-regular;
    }

    .secundario {
        margin: 0%;
        font-size: 6em;
        text-align: center;
    }

    .slogan {
        font-size: 4em;
        text-align: center;
    }

    .accion {
        display: flex;
        list-style: none;
        padding: 0%;
        margin: 15px 0px;
        gap: 15px;
        font-size: 1.3em;
    }

    .familia {
        height: 70%;
    }

    /* segunda seccion */


    .nosotros { 
        height: 50%;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 30px;
        background-color: #FFFF00;
    }

    .presentacion {
        display: flex;
        flex-direction: column;
        font-family: Bangers-Regular;
        width: 80%;
        background-color: white;
        border: 3px solid black;
        border-radius: 15px;
        padding: 10px;
        text-align: justify;
    }

    .tercero { 
        text-align: center;
        margin: 0%;
        font-size: 2em;
    }
    .presentacion p {
        font-size: 2em;
    }

    .imagen2 {
        display: flex;
        justify-content: center;
    }

    .img2 {
        width: 60%;
    }
}

@media (min-width: 1201px) {

    body {
        height: 250vh;
        display: flex;
        flex-direction: column;
        margin: 0%;
    }

    /* header */

    header { 
        background-color: #E71D36;
        width: 100%;
        height: 15vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
    }

    .icono {
        display: flex;
        justify-content: center;
        height: 100%;
    }

    .titulo {
        color: white;
        margin: 0%;
        text-align: center;
        font-size: 5em;
        font-family: angrybirds-regular;
        -webkit-text-stroke: 1px black;
    }

    /* Navbar */
    
    .navegador {
        margin: 0%;
        color: white;
        list-style: none;
        display: flex;
        
        align-items: center;
        gap: 10px;
        font-family: angrybirds-regular;
    }

    .navegador li {
        font-size: 1.3em;
        padding: 7px 15px;
        border: 2px solid white;
        border-radius: 10px;
        background-color: #E71D36;
    }

    a {
        text-decoration: none;
        color: white;
        cursor: none;
    }

    .navegador li:hover {
        box-shadow: 0px 0px 14px 7px rgba(0,0,0,0.30);
        text-shadow: 1px 1px 3px black;
    }

    .titulo {
        text-shadow: 1px 1px 10px black;
    }

    /* primera seccion */

    .portada {
        margin-top: 15vh;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: url(./imagenes/fondo.png);
        background-position: 50% 0%;
        border-bottom: 100px solid black;
    }

    .contenedor1 {
        display: flex;
        height: 60%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: angrybirds-regular;
    }

    .secundario {
        margin: 0%;
        font-size: 7em;
        text-align: center;
    }

    .slogan {
        font-size: 4em;
        text-align: center;
    }

    .accion {
        display: flex;
        list-style: none;
        padding: 0%;
        margin: 15px 0px;
        gap: 15px;
        font-size: 1.3em;
    }

    .accion li {
        padding: 7px 15px;
        border: 2px solid white;
        border-radius: 10px;
        background-color: #E71D36;
    }

    .familia {
        width: 100%;
    }

    /* segunda seccion */


    .nosotros { 
        height: 50%;
        display: flex;
        align-items: center;
        gap: 80px;
        background-color: #FFFF00;
    }

    .presentacion {
        display: flex;
        flex-direction: column;
        font-family: Bangers-Regular;
        width: 60%;
        margin-left: 20px;
        background-color: white;
        border: 3px solid black;
        border-radius: 15px;
        padding: 10px;
        text-align: justify;
    }

    .tercero { 
        text-align: center;
        margin: 0%;
        font-size: 2.5em;
    }
    .presentacion p {
        font-size: 2.2em;
    }

    .img2 {
        width: 90%;
    }
}